{% extends 'base.html.twig' %}

{% block title %}Todas las tareas!{% endblock %}

{% block body %}
<style>

</style>

<div class="example-wrapper">
    <div class="tasks">
    <h2>Todas las tareas</h2>
    <table>
        <tr>
            <th>Tarea</th>
            <th>Prioridad</th>
            <th>Horas presupuestadas</th>
            <th>Acciones</th>
        </tr>
        {% for task in tasks %}
        <tr>
            <th class="table_tasks">{{task.title}}</th>
            <th class="table_tasks">{{task.priority}}</th>
            <th class="table_tasks">{{task.hours}}</th>
            <th class="table_tasks"></th>
        </tr>
        {% endfor %}
    </table>
    </div>

</div>
{% endblock %}
