.form-group .avatar{
    width: 200px;
    max-width:300px;
    height: 200px;
    margin: 0 auto;
    border-radius: 50%;
    padding: 0.2rem;
    background: linear-gradient(90deg, rgb(150, 54, 54) 0%, rgb(0, 0, 0) 35%, rgb(197, 186, 23) 100%);
    object-fit: cover;
}

.container-avatar img{
    display:block;
    border-radius: 50%;
    height: 45px;
    width: 45px;
    padding: 0.09rem;
    background: linear-gradient(90deg, rgb(150, 54, 54) 0%, rgb(0, 0, 0) 35%, rgb(197, 186, 23) 100%);
    object-fit: cover;
}


.card-header img{
    display: block;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    padding: 0.09rem;
    background: linear-gradient(90deg, rgb(150, 54, 54) 0%, rgb(0, 0, 0) 35%, rgb(197, 186, 23) 100%);
    object-fit: cover;
    float:left;
    margin-left:1%;
    margin-right: 3%;

}

.card-header .user-des{
    margin-top: 1.5%;
    margin-left: 8%;
}

.nickname{
    color: rgb(160, 160, 160);
    
}

.pub_image{
    margin-bottom: 25px;
}

.image-container{
    width: 100%;
    max-height: 500px;
    overflow: hidden;
}

.image-container img{
    width: 100%;
    object-fit: cover;
}

.pub_image .card-body{
    padding:0px;
}

.pub_image .description{
    padding:2%;
}